@model ShopBanDoDienTu_Nhom1.Identity.AppUser

@{
    ViewBag.Title = "Xóa tài khoản";
}

<div class="card" style="background-color: rgba(0, 0, 0, 0.3);">
    <div class="card-body">
        <h3>Bạn có chắc muốn xóa tài khoản này?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal" style="color:whitesmoke">
                <dt>
                    Email
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>

            @using (Html.BeginForm("DeleteConfirmed", "Users", new { id = Model.Id, controller = "Users", area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        @Html.ActionLink("Cancel", "Index", "Users", new { area = "Admin" }, new { @class = "btn btn-default" })
                    </div>
                </div>
            }

        </div>
    </div>
</div>
